.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(127, 101, 214, 0.604); 
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*.Categories {
    Agrega estilos específicos para la barra de categorías si es necesario 
}*/

.NavLinkOption {
    margin-right: 15px;
    /* Agrega otros estilos que desees para los enlaces normales */
}

/*.ActiveOption {
    Agrega estilos que desees para los enlaces activos (cuando estén seleccionados) 
}*/