.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(127, 101, 214, 0.604); 
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.NavLinkOption {
    margin-right: 15px;
}

